@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    min-height: 600px;
    font-family: "Roboto Mono", monospace;
    background-color: rgb(32, 30, 30);

}

.container{
    text-align: center;
    padding: 50px;
}
.page-title{
    color: rgb(243, 242, 242);
}
strong{
    font-family: 'Righteous', cursive;
    color: #cca048
}
.logo{
    width: 40px;
}
.sub-title{
    color: rgb(243, 242, 242);
}
input{
    width: 210px;
}
button{
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 7px;
    color: rgb(243, 242, 242);
    background-color: #cca048;
}
button:hover{
    cursor: pointer;
    background-color: #C45C4B;
}
.resultado{
    color: rgb(243, 242, 242);
}
