@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    min-height: 600px;
    font-family: "Roboto Mono", monospace;

}

.container{
    text-align: center;
    height: 100vh;
    padding: 50px;
}